
header {
    width: 100%;
}

body {
    margin: 0px;
    background-color: rgb(191 191 191);
}

.content-wrapper {
    /*display:inline-block;
    float:left;*/
    display: flex;
    justify-content: center;
}

.content-left {
    display: inline-block;
    float: left;
}

.content-right {
    display: block;
    float: right;
}

.pushContentLeft {
    position: fixed;
    left: 200px;
}

/* Fjerner underlinjen på link */
.linksTagRemoveUnderline {
    text-decoration: none;
}

/* Center content */
div.content-middle-outer {
    margin-left: 190px;
    margin-bottom: 5px;
}

.content-middle-inner {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.dashboard-button {
    width: 20vw;
    height: 20vh;
    margin: 17px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.dashboard-button {
    background-size: 0% 100%;
    display:inline-block;
    font-size:20px;
    padding:10px 30px;
    text-align:center;
    transition: background-color .5s;
    width:300px;
}
.dashboard-button:hover {
    background-color:#6bc3ef;
    background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,.7) 100%);
    background-repeat:no-repeat;
    background-size: 200% 100%;
    transition:background-size 1s, background-color 1s;
}

.table-styling {
    border-color: #777;
    background-color: #dbdbdb;
    border: 1px solid #777;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(24, 146, 195);
    color: white;
    padding: 5px;
}

td {
    padding: 5px;
}

.label-style {
    border: 1px solid #777;
    background-color: white;
    width: 278px;
    height: 34px;
    appearance: auto;
    line-height: 30px;
    text-align: left;
    padding-left: 5px;
}

.table-row-height {
    height: 50px;
}